@import '../../../variables.scss';

.container{
  width: 800px;
  height: 800px;
  border-radius: 15px;
  background-color: hsl(255, 68%, 74%, 20%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}
.background{
  background-color: #F3F1FA;
}