<head>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
</head>
<body class="background">
<header>
    <h1>Lobank</h1>
    <div class="right-side">
        <a color="primary" (click)="goToRegister()" mat-fab extended routerLink=".">
            <mat-icon svgIcon="register"></mat-icon>
            Register
        </a>
        <a color="primary" (click)="goToLogin()" mat-fab extended routerLink=".">
            <mat-icon svgIcon="login">
            </mat-icon>
            Login
        </a>
    </div>
</header>
<div class="card-container">
    <a class="card-style" href="https://github.com/Exacttime">
        <mat-card>
            <mat-icon svgIcon="github"></mat-icon>
            <span>Meu GitHub</span>
        </mat-card>
    </a>
    <a class="card-style" href="https://www.linkedin.com/in/erick-oliveira-lopes/">
        <mat-card>
            <mat-icon svgIcon="linkedin"></mat-icon>
            <span>Meu Linkedin</span>
        </mat-card>
    </a>
</div>
</body>
