<body class="background">
<div class="container">
<h1 class="title">Bem vindo {{name}}!</h1>
    <button [matMenuTriggerFor]="menu" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button *ngIf="isAdminOrMod" (click)="adminList()" mat-menu-item>Administrador</button>
        <button mat-menu-item (click)="editUser()">Configurações da conta</button>
        <button mat-menu-item (click)="logout()">Logoff</button>
    </mat-menu>
    <app-account-details></app-account-details>
    <div class="button-row" style="display: flex; justify-content: normal;">
        <a class="button-card" (click)="onFormSubmit()" color="primary" mat-fab extended routerLink=".">
            <mat-icon svgIcon="transfer">
            </mat-icon>
            Tranferencia
        </a>
        <a class="button-card" (click)="toTransactionList()" color="primary" mat-fab extended routerLink=".">
            <mat-icon svgIcon="history">
            </mat-icon>
            Extrato
        </a>
    </div>
</div>
</body>