<body class="background">
<div class="container">
    <div class="list-container">
        <ng-container class="list-container" *ngFor="let transaction of transactions">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-subtitle>{{transaction.tipo}}</mat-card-subtitle>
                <mat-card-title>Transação {{transaction.id}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Valor: {{transaction.valor}}</p>
                <p>Saldo Anterior: {{transaction.saldoAnterior}}</p>
                <p>Saldo Atual: {{transaction.saldoAtual}}</p>
                <p>Data: {{transaction.dataTransacao}}</p>
                <mat-divider></mat-divider>
            </mat-card-content>
        </mat-card>
    </ng-container>
    </div>
</div>
</body>
