<body class="background">
<div class="container">
    <h1 class="title">Transferência</h1>
    <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <app-account-details></app-account-details>
    <div class="button-row" style="display: flex; justify-content: normal;">
        <mat-form-field color="primary">
            <mat-label>Conta Destino</mat-label>
            <input [(ngModel)]="accountDestiny" matInput>
        </mat-form-field>
        <mat-form-field color="primary">
            <mat-label>Valor</mat-label>
            <input type="number" [(ngModel)]="amount" matInput>
        </mat-form-field>
        <button (click)="onFormSubmit()" mat-flat-button color="secondary">Enviar</button>
    </div>
</div>
</body>